<header>
    <div  >
        <img id="logo1" src="assets/images/logo1.jpg" alt="image introuvable">
    </div>
    <div>
        <h1 id="titre">Skill Wave</h1>
    </div>
    <div class="d-inline-flex gap-1">
        <button type="button" class="btn btn-light"  data-bs-toggle="collapse" data-bs-target=".menu" (click)="onAcceuilUser()">
            <i class="bi bi-arrow-90deg-left"></i>            
        </button>
    </div>
</header>

<section>
    <div>
        <img id="aboutus" src="assets/images/aboutus.png" alt="erreur">
    </div>
    <div>
        <h3>Qui est SkillWave ?</h3>
        <p>
            Bienvenue chez SkillWave, un club de formation dynamique fondé le 5 Novembre 2023 par deux étudiants passionnés. Notre histoire commence avec la vision commune de créer un espace éducatif novateur, où l'apprentissage transcende les limites conventionnelles. <br>
            En combinant notre enthousiasme pour l'éducation et notre désir de promouvoir l'excellence, nous avons créé SkillWave en tant que plateforme dédiée à l'essor académique et professionnel.
        </p>
        <h3>SkillWave: Redéfinir l'Éducation pour l'Avenir</h3>
        <p>
            Chez SkillWave, nous croyons en l'autonomisation par l'éducation. <br>
            Notre mission est de fournir des opportunités de formation de haute qualité, axées sur des compétences pertinentes pour le monde d'aujourd'hui. <br>
            Que vous soyez un étudiant cherchant à acquérir de nouvelles compétences ou un professionnel aspirant à perfectionner les vôtres, notre club offre un éventail de formations engageantes et interactives. <br>
            Nous nous engageons à créer une communauté d'apprentissage inclusive et collaborative, où chacun peut s'épanouir et réaliser son potentiel. <br>
            À SkillWave, nous combinons expertise pédagogique et innovation pour offrir des cours qui vont au-delà des programmes traditionnels, préparant nos membres à exceller dans un monde en constante évolution.
        </p>
        <p id="fin">
            
        </p>
    </div>

</section>

<app-footer></app-footer>
