<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Cantact</h4>
            <ul class="list-unstyled">
              <li>Phone 1: (+216) 27 979 083</li>
              <li>Phone 2: (+216) 95 382 342</li>
              <li>E-mail: SkillWave@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Adresse </h4>
            <ul class="list-unstyled">
              <li><a>Localisation</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
            <h4>Follow Us</h4>
                <ul class="social-network social-circle">
                 <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>       
          </div>
        <div class="col-md-3 col-sm-6">
            <div class="footer-pad">
                <img id="logo2" src="assets/images/logo1.jpg" alt="image introuvable">                    
            </div>
        </div>
        
      </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; Copyright 2024 - Skill Wave.  All rights reserved.</p>
      </div>
    </div>
  
  
    </div>
    </div>
</footer>