header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(59deg, #5cc2f5, #161682);
    padding: 10px;
    height:90px;
}
header div {
    display: flex;
    align-items: center;
}
#logo1 {
    width: 70px;
    height: 70px;
    border-radius: 5%;
    margin-left: 20px;
}
#titre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color:rgb(196, 242, 255);
    margin-right: 50px;
}

section div{
    margin-top: 20px;
}

table{
    margin-top: 50px;
}

th{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.boutton{
    background-color: #ffffff17;
    color: #5cc2f5;
}
.boutton:hover{
    background-color: rgb(30, 182, 232);
    color:white;
}

#corbeille:hover{
    color:white;
    background-color: rgb(232, 43, 30);
}

#id{
    padding-left: 10px;
}

#prix{
    padding-right: 15px;
}

.ajout{
    margin-left: 500px;
    margin-top: 30px;
}

