<header>
    <div  >
        <img id="logo1" src="assets/images/logo1.jpg" alt="image introuvable">
    </div>
    <div>
        <h1 id="titre">Skill Wave</h1>
    </div>
    <div>
        <button type="button" class="btn btn-light"  data-bs-toggle="collapse" data-bs-target=".menu" (click)="onAction()">
            <i class="bi bi-arrow-90deg-left"></i>            
        </button>
    </div>
</header>

<form [formGroup]="ChangerForm" (ngSubmit)="onChanger()" >

    <input type="password" class="form-control" formControlName="ancien"  placeholder="Ancien Mot de passe"> <br>
    <div *ngIf="ancien?.errors?.['required'] && ancien?.touched" class="alert alert-danger">
        L'ancien mot de passe est strictement obligatoire 
    </div>

    <input type="password" class="form-control" formControlName="nouveau" placeholder="Nouveau Mot de passe" > <br>
    <div *ngIf="isValidPattern() " class="alert alert-warning">
        Le mot de passe doit commencer par une majuscule et se termine par un nombre 
    </div>

    <div *ngIf="nouveau?.errors?.['required'] && nouveau?.touched" class="alert alert-danger">
        Le nouveau mot de passe est strictement obligatoire 
    </div>

    <input type="password" class="form-control" formControlName="nouveauC" placeholder="Confirmer Mot de passe" > <br>
    <div *ngIf="nouveauC?.errors?.['required'] && nouveauC?.touched" class="alert alert-danger">
        La confirmation du mot de passe est strictement obligatoire 
    </div>

    <button type="submit" class="btn btn-outline-primary" id="btn_form"  >Enregistrer</button>
</form>

