<router-outlet></router-outlet>
<!-- <app-acceuil></app-acceuil> -->
<!-- <app-login></app-login> -->
<!-- <app-error></app-error> -->
<!-- <app-action-admin></app-action-admin> -->
<!-- <app-consulter-ac></app-consulter-ac> -->
<!-- <app-ajouter-formation></app-ajouter-formation> -->
<!-- <app-changer-mdp></app-changer-mdp> -->
<!-- <app-ajouter-formateur></app-ajouter-formateur> -->
<!-- <app-acceuil-user></app-acceuil-user> -->
<!-- <app-details></app-details> -->
<!-- <app-inscription></app-inscription> -->
